@import '~bootstrap/dist/css/bootstrap.min.css';
.orcimg{
  width: 100%;
  height: auto;
}

input[type="file"] {
  display: none;
}

.label-div{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}


.customize-file{
  display: block;  
  margin: 5px;
  border: 2px dotted grey;
  :hover{
    background-color:rgb(197, 88, 10);
  }

}

.ocrbtn{
  margin: 5px;
  background-color: #FF6A00;
  border: none;
  border-radius: 10px;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 18px;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
 // margin-left: 75px;
}
.ocrbtn:hover{
  background-color:rgb(197, 88, 10);
}

.background{
  background-image:url('../../assets/03996_hakonesunset_3840x2160.jpg');
  width: 100%;
  height: 100%;
}

.uFile{
  margin-bottom: 20px;
  background-color: red($color: #000000);
  justify-content: center;
}

.container{
  padding: 50px 100px 50px 100px;



  .preview-box{
    display:flexbox;
    border: 2px dashed grey;
    background-color: #EDEDED;
  }

  .textDiv{
    
  }

  .submitDiv {
    justify-content: center;
    margin-top: 40px;
  }
}


