<div class="background">
<div class="container">
  <br>
  <div class="row">
    <h1 class="h1">Forgot Password</h1>
    <div style="width: 30%; margin: 25px auto;">
      <form>
        <!--  Div class for E-mail -->
        <div class="form-group">
          <input [(ngModel)]="user.account" class="form-control" name="email" required name="account" placeholder="Enter E-mail"
                 required minlength="5" maxlength="40" />
        </div>

        <!-- Div class for password -->
        <div class="form-group">
          <input [(ngModel)]="user.password" class="form-control" type="password" required name="password" placeholder="Password">
        </div>

        <div class="form-group">
          <input [(ngModel)]="ConfirmPassword" class="form-control" type="password" required name="password"
                 placeholder="Confirm Password">
        </div>

        <!-- Div class for code -->
        <div class="form-group row">
          <div class="col-sm-8">
            <input [(ngModel)]="InputCode" class="form-control" type="text" name="verify" placeholder="Verify Code">
          </div>
          <button class="reset" width="160" height="35"
             (click)="createCode()">Send Verified Code</button>
        </div>
        <!-- Div class for Login Button -->
        <div class="form-group">
          <button class="b" (click)="reset()">Reset Password</button>
        </div>



      </form>
      <a class="k" routerLink="/">Go Back</a>
    </div>
  </div>
</div>
</div>
